*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
}

/* ROW */
    .main-row{
        height: 100%;
    }

    /* USER ROW */
    .user-row{
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        background-color: #EAEAEA;
    }

    /* USER BANNER ROW */
    .banner-row{
        padding: 15px 20px;
        background-color: #8EDAFC;
    }

    /* SEARCH ROW */
    .search-row{
        padding: 10px;
    }
/* FINE ROW */

/* COL */
    /* LEFT MAIN COL */
        .left-col{
            width: 35%;
            background-color: #fff;
        }

        /* USER INFO COL */
        .user-info-col{
            display: flex;
            align-items: center;
        }

        .user-info-col span{
            margin-left: 10px;
        }

        /* USER BUTTON COL */
        .user-button-col *{
            padding: 0 8px;
            color: grey;
            cursor: pointer;
        }

        /* BANNER TEXT COL */
        .banner-text-col{
            padding: 8px 10px;
        }

        .banner-text-col a{
            font-size: 15px;
            color: grey;
            display: block;
        }

        /* SEARCH COL */
        .search-col{
            width: 100%;
            display: flex;
        }

        .search-col > *{
            border: 1px solid rgba(128, 128, 128, 0.333);
        }

        .search-col .search-button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            background-color: #fff;
            color: gray;
            cursor: pointer;
        }

        .search-col input{
            width: calc(100% - 70px);
            padding: 8px 10px;
        }
    /* FINE LEFT MAIN COL */
    
    /* RIGHT MAIN COL */
        .right-col{
            width: 65%;
        }
    /* FINE RIGHT MAIN COL */
/* FINE COL */

/* IMG LOGO */
    .img-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }

    .img-logo img{
        width: 100%;
        border-radius: 50%;
    }

    .img-logo i{
        color: #8EDAFC;
    }
/* FINE IMG LOGO */

/* UTILITIES */
    .container{
        max-width: 1500px;
        height: calc(100vh - 40px);
        margin: 20px auto;
        background-color: red;
    }

    .row{
        display: flex;
        flex-flow: row wrap;
    }

    /* FONT WEIGHT */
        .fw-500{
            font-weight: 500;
        }

        .fw-600{
            font-weight: 600;
        }

        .fw-700{
            font-weight: 700;
        }
    /* FINE FONT WEIGHT */
/* FINE UTILITIES */