*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, #009688 15%, #D9DBD4 15%);
}

/* ROW */
    .main-row{
        height: 100%;
    }

    /* LEFT MAIN ROW */
        /* USER ROW */
        .user-row{
            height: 70px;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            background-color: #EAEAEA;
        }

        /* USER BANNER ROW */
        .banner-row{
            height: 85px;
            padding: 15px 20px;
            background-color: #8EDAFC;
        }

        /* SEARCH ROW */
        .search-row{
            height: 55px;
            padding: 10px;
        }

        /* CONTACT ROW */
        .contact-row{
            height: calc(100% - 210px);
            overflow-y: scroll;
            cursor: pointer;
        }
    /* FINE LEFT MAIN ROW */
    
    /* RIGHT MAIN ROW */
        /* CONTACT BAR ROW */
        .contact-bar-row{
            height: 70px;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            background-color: #EAEAEA;
            border-left: 1px solid rgba(128, 128, 128, 0.317);
        }
    /* FINE RIGHT MAIN ROW */
/* FINE ROW */

/* COL */
    /* LEFT MAIN COL */
        .left-col{
            width: 35%;
            height: 100%;
            background-color: #fff;
        }

        /* USER INFO COL */
        .user-info-col{
            display: flex;
            align-items: center;
        }

        .user-info-col span{
            margin-left: 10px;
        }

        /* USER BUTTON COL */
        .user-button-col *{
            padding: 0 8px;
            cursor: pointer;
        }

        /* BANNER TEXT COL */
        .banner-text-col{
            padding: 8px 10px;
        }

        .banner-text-col a{
            font-size: 15px;
            display: block;
        }

        /* SEARCH COL */
        .search-col{
            width: 100%;
            display: flex;
        }

        .search-col > *{
            border: 1px solid rgba(128, 128, 128, 0.333);
        }

        .search-col .search-button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            background-color: #fff;
            cursor: pointer;
        }

        .search-col input{
            width: calc(100% - 70px);
            padding: 8px 10px;
        }

        /* CONTACT COL */
        .contact-col{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px 15px;
            border-top: 1px solid rgba(128, 128, 128, 0.295);
        }

        .contact-col .contact-info{
            display: flex;
        }

        .contact-info .contact-text{
            padding: 8px 10px;
        }

        .contact-info .contact-text span{
            font-size: 13px;
            margin-top: 2px;
        }

        .contact-time span{
            font-size: 12px;
        }
    /* FINE LEFT MAIN COL */
    
    /* RIGHT MAIN COL */
        .right-col{
            width: 65%;
            height: 100%;
        }

        /* CONTACT BAR COL */
        .contact-bar-col .contact-bar-info{
            display: flex;
            align-items: center;
        }

        .contact-bar-info .contact-bar-text{
            padding: 0 10px;
        }

        .contact-bar-info .contact-bar-text span{
            font-size: 12px;
            margin-top: 2px;
        }

        .contact-bar-button-col *{
            padding: 0 10px;
            cursor: pointer;
        }
    /* FINE RIGHT MAIN COL */
/* FINE COL */

/* IMG LOGO */
    .img-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }

    .img-logo img{
        width: 100%;
        border-radius: 50%;
    }

    .img-logo i{
        color: #8EDAFC;
    }

    /* USER LOGO E ICON LOGO */
    .user-logo,
    .icon-logo{
        width: 50px;
        height: 50px;
    }

    /* CONTACT LOGO */
    .contact-logo{
        width: 65px;
        height: 65px;
    }
/* FINE IMG LOGO */

/* UTILITIES */
    .container{
        max-width: 1500px;
        height: calc(100vh - 40px);
        margin: 20px auto;
        background-color: red;
    }

    .row{
        display: flex;
        flex-flow: row wrap;
    }

    /* CONTACT SELECTED */
        .contact-selected{
            background-color: rgba(128, 128, 128, 0.189);
        }
    /* FINE CONTACT SELECTED */

    /* FONT WEIGHT */
        .fw-500{
            font-weight: 500;
        }

        .fw-600{
            font-weight: 600;
        }

        .fw-700{
            font-weight: 700;
        }
    /* FINE FONT WEIGHT */

    /* TEXT GREY */
        .txt-grey{
            color: grey;
        }
    /* FINE TEXT GREY */
/* FINE UTILITIES */